* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: blue;
}

li {
  list-style: none;
  padding: 0 1rem;
}

.navbar .main-menu-lists {
  display: flex;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  background-color: lightblue;
  padding: 1rem 2rem;
  height: 80px;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
}

/* Mobile Menu */
.navbar .mobile-menu-items {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(154, 192, 204, 0.5);
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.navbar .mobile-menu-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar .mobile-menu-toggle {
  cursor: pointer;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .navbar .main-menu {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }
}
