* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: blue;
}

li {
  list-style: none;
  padding: 0 1rem;
}

ul {
  display: flex;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  background-color: lightblue;
  padding: 1rem 2rem;
  height: 80px;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
}

@media (max-width: 768px) {
  .navbar .main-menu {
    display: none;
  }
}
